/*

#FEF3E2
#FAB12F
#FA812F
#FA4032 

*/

* {
    box-sizing: border-box;
}
h1,h2,h3 {
    font-weight: bold;
    text-align: center;
}

body{
    font-family: poppins,sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FEF3E2;
    /* overflow-x: hidden; */
    max-width: 100%;
}
header{
    display: inline;
}

.sitename{
    background-color: #FA4032 ;
    color: #FEF3E2;
    padding: 5px 20px;
}

.jumbotron{
    text-align: center;
}

nav{
    position: sticky;
    top: 0;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 10px 0;
    background-color: #FA812F;
    margin: 0;
}

nav li {
    margin: 0 20px;
}

nav a{
    color: #FEF3E2;
    text-decoration: none;
}

nav a:hover{
    font-weight: bold;
}

main {
    display: flex;
    padding: 20px 20px;
    gap: 20px;
    /* margin: 20px; */
}

.content {
    flex: 3;
    /* width: 100%; */
    /* background-color: green; */
    
}

aside {
    flex: 1;
}

.content-image{
    display: flex;
    justify-content: center;
    max-width: 1000px;
}

.content section img {
    width: 100%;
    text-align: center;
}

#character {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.bold_info {
    font-weight: bold;
}

table td{
    padding-right: 15px;
    border-spacing: 10px 20px;
}

.profile section {
    display: flex;
    justify-content: center;
}

.sosmed{
    text-align: center;
    padding: 10px;
    color: white;
    width: 100%;

}

.discord {
    background-color: #7289da;
}

.facebook {
    background-color: #4267B2;
}

.whatsapp {
    background-color: #128c7e;
}

footer {
    font-weight: bold;
    text-align: center;
    background-color: #FA812F;
    padding: 10px;
    color: #FEF3E2;
}